@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --color-mainBlueLight: #090040;
  --color-secondBlueLight: #090080;
}

@layer utilities {
  .dark body {
    background: linear-gradient(to right, #000000, #000009 );
    color: white;
  }

  body {
    background: white; 
  }
}

body{
  font-family: "Inter", sans-serif;
 
}
html, body {
  overflow-x: hidden;
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: linear-gradient(135deg, #f43f5e, #f97316, #eab308);
  background-size: 200% 200%;
  animation: gradientShift 3s ease infinite;
  border-radius: 50%;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 100px #f43f5e;
}


.cursor-trail {
  position: fixed;
 
  width: 100px;
  height: 100px;
  border-radius: 40%;
  pointer-events: none;
  z-index: 9998;
  background: linear-gradient(135deg, #f43f5e, #f97316, #eab308, #10b981, #3b82f6, #8b5cf6, #ec4899);
  background-size: 400% 400%;
  animation: trailGradient 0.5s linear infinite, fadeOut 0.5s ease forwards;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  opacity: 0.4;
}

@keyframes trailGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
